.hr {
    position: relative;
    border: none;
    border-left: 2px solid #112d4e;
    /*it was 1.4px*/
    height: 6.5rem;
    width: 2px;
    padding: 0 !important;
    top: 0.75rem;
}

.courseTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.altCol {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

.sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.partOne {
    font-weight: 450;
    line-height: 1.5;
    font-size: 0.75rem;
    text-align: center;
}

.fnt_sm {
    font-weight: 450;
    line-height: 1.4;
    font-size: 0.8rem;
}

.cardContainer {
    transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
    border: 1px solid var(--primary-color);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--primary-background-color);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
}

.cardContainer:hover>div,
.cardContainer:focus>div,
{
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
}

.cardContainer:hover,
.cardContainer:focus {
    translate: 0 -5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2);
}

.cardButtons {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.cardContainer:hover .cardButtons {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    a {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .border_div {
        border: 0 !important;
    }
}