$dark: #161A1D;
$light: #D3D3D3;
$primary: #A4161A;
$secondary: #B1A7A6;
$s: #e5383b;
@import "node_modules/bootstrap/scss/bootstrap";
body {
    min-height: 100vh;
    #root {
        min-height: 100vh;
        /*
		display: flex;
        flex-direction: column; */
        margin: 0%;
        padding: 0%;
    }
}