@import 'index.css';

$dark: #520e0e;
$light: #FFFFFF;
$primary: #780505;
$secondary: #D14545;

$tooltip-bg: $secondary;
$tooltip-max-width: 20rem;
$tooltip-opacity: 1;

/*
dark --> a8ma2 daraga azra2
light --> aktar wa7da white
primary --> second blue
secondary --> samawy fate7 gedan
*/


@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/react-toastify/scss/main";

body {
    min-height: 100vh;
    #root {
        min-height: 100vh;
        /*
		display: flex;
        flex-direction: column; */
        margin: 0%;
        padding: 0%;
    }
}