@import 'index.css';
$dark: #520e0e;
$light: #fff;
$primary: #a00407;
$secondary: #d37070;
$grey: #aaa;
$tooltip-bg: $secondary;
$tooltip-max-width: 20rem;
$tooltip-opacity: 1;

/*
dark --> a8ma2 daraga azra2
light --> aktar wa7da white
primary --> second blue
secondary --> samawy fate7 gedan
*/

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/react-toastify/scss/main';
body {
  min-height: 100vh;
  #root {
    min-height: 100vh;
    /*
		display: flex;
        flex-direction: column; */
    margin: 0%;
    padding: 0%;
  }
}

@import './accordion.scss';
