.containerChatBody {
    padding: 5%;
    background-color: #F5F5F5;
  }
  
  .container {
    padding:0;
    background-color: #FFF; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  
  
  .chat {
    //width: calc(65% - 85px);
    //display: flex;
    //flex-direction: column;
    width: 100%;
  }
  
  .chat .messages-chat {
    padding: 25px 35px;
    //display:flex;
    //flex-direction: column;
    height: max-content;
  }
  
  .chat .messages_chat .message {
    //display:flex;
    //align-items: center;
    margin-bottom: 10px;
    float: left;
    //width: max(90%);
    max-width: 80%;
  }
  
  .chat .messages_chat .text {
    margin: 0 35px;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 12px;
  }
  
  
  .response {
    float: right;
    margin-bottom: 10px;
    margin-right: 0px !important;
    margin-left:auto; /* flexbox alignment rule */
    max-width: 90%;
  }
  
  .response .text {
    background-color: #e3effd !important;
    max-width: 100%;
    word-wrap:break-word;
  }
  
  .footer_chat {
    //width: calc(65% - 66px);
    width: 100%;
    height: 80px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    //position:absolute;
    bottom: 0;
    background-color: transparent;
    border-top: 2px solid #EEE;
    
  }
  
  


  
  .write-message {
    border:none !important;
    width:60%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
  }
  
  .footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left:5px;
  }
  .footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  
  .clickable {
    cursor: pointer;
  }

  .submitFollow{
    background-color: #4f6ebd;
    border: none;
    color: white;
  }