.hero {
    background-color: #1c1d1f;
    width: 100%;
    font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    padding-top: 2rem;
}

.mylearning {
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1.5rem;
}

.list {
    display: flex;
    flex-direction: row;
}

.listitem {
    font-size: 1.1rem;
    color: white !important;
    font-weight: 600;
    margin-bottom: 0.15rem;
    cursor: pointer;
}

.listitem:hover {
    color: var(--secondary-color) !important;
}

.active__link {
    border-bottom: 0.3rem solid var(--primary-color);
    color: var(--secondary-color) !important;
    filter: contrast(1.5);
    -webkit-filter: contrast(1.5);
}