.button:disabled {
    background-color: #e2e8f0;
    color: #a0aec0;
    border: #e2e8f0;
}

.button {
    padding: 0.7rem 1rem;
}

.default {
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--variant-color-border);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    filter: brightness(0.5) contrast(1.7);
    -webkit-filter: brightness(0.5) contrast(1.7);
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.default:hover {
    background-color: var(--variant-hover-color);
    color: var(--text-color);
}

.button:disabled {
    /*   background-color: var(--variant-disabled-background-color);
 */
    color: var(--variant-disabled-text-color);
}

.primary-bg {
    background-color: var(--secondary-color);
    color: #F9F7F7;
    border: 1px solid var(--primary-color);
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.primary-bg:hover {
    background-color: var(--primary-color);
    color: #F9F7F7;
}

.primary-bg:disabled {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.success-bg {
    background-color: #d4edda;
}

strong.success-bg {
    background-color: transparent;
}

.danger-bg {
    background-color: #fcb8b8;
    color: red;
}

strong.danger-bg {
    background-color: transparent;
}