.button:disabled {
  background-color: #e2e8f0;
  color: #a0aec0;
}

.button {
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--variant-color-border);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  filter: brightness(0.5) contrast(1.7);
  -webkit-filter: brightness(0.5) contrast(1.7);
}

.button:hover {
  background-color: var(--variant-hover-color);
  color: var(--text-color);
}

.button:disabled {
  background-color: var(--variant-disabled-background-color);
  color: var(--variant-disabled-text-color);
}

.success-bg {
  background-color: #d4edda;
  color: #155724;
}

strong.success-bg {
  background-color: transparent;
}

.danger-bg {
  background-color: #fcb8b8;
  color: red;
}

strong.danger-bg {
  background-color: transparent;
}
