.add_course {
    background-color: white;
    border: #1c1d1f;
    color: #1c1d1f;
    font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 600;
    width: auto;
    border-color: #A00407;
    border-width: 2px;
    border-style: solid;
}