.box {
  padding: 2.5rem;
  margin: 2rem auto;
  width: 26rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.transaction_text {
  color: rgb(172, 172, 172);
  font-size: 0.77rem;
}

.amount_text {
  color: rgb(172, 172, 172);
  font-weight: 500;
  font-size: 0.9rem;
}
.success_text {
  color: rgb(37, 174, 136);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.3rem 0;
}

.success_btn {
  background-color: rgb(37, 174, 136);
  color: white;
  margin-top: 2.5rem;
  margin-bottom: -1rem;
}

.success_btn:hover {
  background-color: rgb(30, 131, 102);
}
