.icon {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    outline: 0;
}

.micButton {
    border: 0;
    background: transparent;
    outline: 0;
    padding: 0;
    margin: 0;
    color: var(--primary-color) !important;
    margin-top: 0.1rem;
}

.listening {
    color: var(--secondary-color) !important;
}

.boxContainer {
    display: flex;
    justify-content: space-between;
    height: 14px;
    --boxSize: 2px;
    --gutter: 4px;
    width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.box {
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);
    background: var(--secondary-color);
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
}

.box1 {
    animation-name: quiet;
}

.box2 {
    animation-name: normal;
}

.box3 {
    animation-name: quiet;
}

.box4 {
    animation-name: loud;
}

.box5 {
    animation-name: quiet;
}

@keyframes quiet {
    25% {
        transform: scaleY(.6);
    }
    50% {
        transform: scaleY(.4);
    }
    75% {
        transform: scaleY(.8);
    }
}

@keyframes normal {
    25% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(.4);
    }
    75% {
        transform: scaleY(.6);
    }
}

@keyframes loud {
    25% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(.4);
    }
    75% {
        transform: scaleY(1.2);
    }
}