/*  Import Fonts For Google */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
.board {
    .container {
        display: flex;
        padding: 10px;
        gap: 10px;
        width: 100%;
        min-width: 1050px;
    }
    .container .tools-board {
        width: 210px;
        padding: 15px 22px 0;
    }
    .container .tools-board .row {
        margin-bottom: 20px;
    }
    .container .tools-board .row .options {
        margin-top: 10PX;
        margin-bottom: 5px;
    }
    .container .tools-board .row .options .option {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .container .tools-board .row .options .option:is(:hover,
    .active) img {
        filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
    }
    .container .tools-board .row .options .option :where(span,
    label) {
        color: #5A6168;
        padding-left: 10px;
        cursor: pointer;
    }
    .container .tools-board .row .options .option:is(:hover,
    .active) :where(span,
    label) {
        color: #4A98f7;
    }
    .container .tools-board .row .options .option #fill-color {
        width: 14px;
        height: 14px;
        cursor: pointer;
    }
    .container .tools-board .row .options .option #fill-color:checked~label {
        color: #4A98f7;
    }
    .container .tools-board .row .options .option #Size-Silder {
        width: 100%;
        height: 5px;
        margin-top: 10px;
    }
    .container .tools-board .colors .options {
        display: flex;
        justify-content: space-between;
    }
    .container .tools-board .colors .options .option {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-top: 13px;
        position: relative;
    }
    .container .tools-board .colors .options .option:nth-child(1) {
        background-color: #fff;
        border: 1px solid #ccc;
    }
    .container .tools-board .colors .options .option:nth-child(2) {
        background-color: #000;
    }
    .container .tools-board .colors .options .option:nth-child(3) {
        background-color: #E02020;
    }
    .container .tools-board .colors .options .option:nth-child(4) {
        background-color: #6DD400;
    }
    .container .tools-board .colors .options .option:nth-child(5) {
        background-color: #4A98f7;
    }
    .container .tools-board .colors .options .option.selected:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 12px;
        width: 12px;
        border-radius: inherit;
        background: inherit;
        border: 2px solid #fff;
        transform: translate(-50%, -50%);
    }
    .container .tools-board .colors .options .option:first-child.selected::before {
        border-color: #ccc;
    }
    .container .tools-board .colors .options .option #color-picker {
        opacity: 0;
        cursor: pointer;
    }
    .container .tools-board .buttons button {
        width: 100%;
        padding: 11px 0;
        margin-bottom: 13px;
        color: #fff;
        font-size: 0, 9rem;
        background: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .container .tools-board .buttons .clear-canvas {
        color: #6C757D;
        border: 1PX solid #6C757D;
        transition: all 0.3s ease;
    }
    .container .tools-board .buttons .clear-canvas:hover {
        color: #fff;
        background: #6C757D;
    }
    .container .tools-board .buttons .save-img {
        background: #4A98f7;
        border: 1PX solid #4A98f7;
    }
    .container .drawing-board {
        flex: 1;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
    }
    .container .drawing-board canvas {
        width: 100%;
        height: 100%;
    }
}