.login,
.changePassword,
.forgotPassword {
    max-height: 100vh;
    background-color: #ffffff;
    opacity: 1;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 10px), repeating-linear-gradient(#ffe4ec55, #ffe4ec);
    width: 100;
    height: 100vh;
    overflow: hidden;
    .form__container {
        #loginForm,
        #changePasswordForm,
        #forgotPasswordForm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 80vh;
            text-align: left;
            padding: 1.5rem !important;
            text-align: left;
            .subtitle {
                text-align: center !important;
            }
            .title {
                text-align: center !important;
            }
            input {
                margin: 0.5rem;
                &:focus {
                    border-bottom: 1px solid var(--primary-color) !important;
                    outline: none;
                }
            }
            button {
                margin: 1.5rem 0.1rem 0.8rem 0.1rem;
            }
        }
        .form__container__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50vh;
            height: 10vh;
            text-align: start;
            img {
                width: 50%;
                height: 100%;
            }
        }
    }
    .img__container {
        position: relative;
        img {
            margin: -1rem 0 -1rem 1rem;
            position: absolute;
            height: 120vh;
            background-size: cover;
            object-fit: fill;
            transform: rotate(-7deg) translate(8rem, -10%);
            -webkit-transform: rotate(-7deg) translate(8rem, -10%);
            -moz-transform: rotate(-7deg) translate(8rem, -10%);
            -ms-transform: rotate(-7deg) translate(8rem, -10%);
            -o-transform: rotate(-7deg) translate(8rem, -10%);
        }
    }
}