.login {
    max-height: 100vh;
    background-color: #ffffff;
    opacity: 1;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 10px), repeating-linear-gradient( #ffe4ec55, #ffe4ec);
    width: 100;
    height: 100vh;
}

.form__container {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
        padding: 1.5rem !important;
        text-align: left;
        input {
            margin: 0.5rem;
            background: var(--background--color) !important;
            color: var(--background--color) !important;
            &:focus {
                border-bottom: 1px solid var(--primary-color) !important;
                outline: none;
            }
        }
        button {
            margin: 1.5rem 0.1rem 0.8rem 0.1rem;
        }
    }
}

.img__container {
    position: relative;
    img {
        margin: -1rem 0 -1rem 1rem;
        position: absolute;
        height: 120vh;
        background-size: cover;
        object-fit: fill;
        transform: rotate(-7deg) translate(8rem, -10%);
        -webkit-transform: rotate(-7deg) translate(8rem, -10%);
        -moz-transform: rotate(-7deg) translate(8rem, -10%);
        -ms-transform: rotate(-7deg) translate(8rem, -10%);
        -o-transform: rotate(-7deg) translate(8rem, -10%);
    }
}