form {
  padding: 2rem 2rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--variant-text-color);
}
