:root {
  --light-hl-0: #0070c1;
  --dark-hl-0: #79c0ff;
  --light-hl-1: #000000;
  --dark-hl-1: #c9d1d9;
  --light-hl-2: #001080;
  --dark-hl-2: #c9d1d9;
  --light-hl-3: #0000ff;
  --dark-hl-3: #ff7b72;
  --light-hl-4: #000000;
  --dark-hl-4: #ff7b72;
  --light-hl-5: #af00db;
  --dark-hl-5: #ff7b72;
  --light-hl-6: #267f99;
  --dark-hl-6: #ffa657;
  --light-hl-7: #795e26;
  --dark-hl-7: #d2a8ff;
  --light-code-background: #ffffff;
  --dark-code-background: #0d1117;
}

@media (prefers-color-scheme: light) {
  :root {
    --hl-0: var(--light-hl-0);
    --hl-1: var(--light-hl-1);
    --hl-2: var(--light-hl-2);
    --hl-3: var(--light-hl-3);
    --hl-4: var(--light-hl-4);
    --hl-5: var(--light-hl-5);
    --hl-6: var(--light-hl-6);
    --hl-7: var(--light-hl-7);
    --code-background: var(--light-code-background);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --hl-0: var(--dark-hl-0);
    --hl-1: var(--dark-hl-1);
    --hl-2: var(--dark-hl-2);
    --hl-3: var(--dark-hl-3);
    --hl-4: var(--dark-hl-4);
    --hl-5: var(--dark-hl-5);
    --hl-6: var(--dark-hl-6);
    --hl-7: var(--dark-hl-7);
    --code-background: var(--dark-code-background);
  }
}

:root[data-theme='light'] {
  --hl-0: var(--light-hl-0);
  --hl-1: var(--light-hl-1);
  --hl-2: var(--light-hl-2);
  --hl-3: var(--light-hl-3);
  --hl-4: var(--light-hl-4);
  --hl-5: var(--light-hl-5);
  --hl-6: var(--light-hl-6);
  --hl-7: var(--light-hl-7);
  --code-background: var(--light-code-background);
}

:root[data-theme='dark'] {
  --hl-0: var(--dark-hl-0);
  --hl-1: var(--dark-hl-1);
  --hl-2: var(--dark-hl-2);
  --hl-3: var(--dark-hl-3);
  --hl-4: var(--dark-hl-4);
  --hl-5: var(--dark-hl-5);
  --hl-6: var(--dark-hl-6);
  --hl-7: var(--dark-hl-7);
  --code-background: var(--dark-code-background);
}

.hl-0 {
  color: var(--hl-0);
}
.hl-1 {
  color: var(--hl-1);
}
.hl-2 {
  color: var(--hl-2);
}
.hl-3 {
  color: var(--hl-3);
}
.hl-4 {
  color: var(--hl-4);
}
.hl-5 {
  color: var(--hl-5);
}
.hl-6 {
  color: var(--hl-6);
}
.hl-7 {
  color: var(--hl-7);
}
pre,
code {
  background: var(--code-background);
}
