{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2017",
    "externalHelpers": false,
    "keepClassNames": true,
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    },
    "baseUrl": "src",
    "paths": {
      "@/*": ["*"],
      "@config": ["./config"],
      "@User/*":["./User/*"],
      "@Authentication/*":["./Authentication/*"],
      "@Trainee/*":["./Trainee/*"],
      "@Instructor/*":["./Instructor/*"],
      "@Admin/*":["./Admin/*"],
      "@Course/*":["./Course/*"],
      "@NewsLetter/*":["./NewsLetter/*"],
      "@Common/*":["./Common/*"],
      "@Databases": ["./databases"],
      "@exceptions/*": ["./exceptions/*"],
      "@middlewares/*": ["./middlewares/*"],
      "@services/*": ["./services/*"],
      "@utils/*": ["./utils/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
