.course-title {
    // margin-left: 167.6px;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    width: 60%;
    h1,h3{
     color: #212529;
     text-overflow: ellipsis;
     overflow: hidden;
     //width: 100%;
    }
}
.rating-design {
    color: gold;
}
.other-design{
    color: #212529;
}