$modalHeight: 280px;
$modalWidth: 700px;

.modal-container {
    width: $modalWidth;
    height: $modalHeight;
    position: absolute;
    top: calc(50% - $modalHeight / 2);
    left: calc(50% - $modalWidth / 2);
    background-color: white;
    opacity: 1;
    border-color: var(--bs-dark);
    border-width: 1px;
    border-style: solid;
}

.close-button-container {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

.close-button {
    border: none;
}

.rating-container {
    display: inline-block;
    line-height: 1.35rem;
}