footer {
    margin-top: auto;
    img {
        display: inline-block;
        height: 8rem;
    }
    .link-container {
        width: 480px;
        display: inline-block;
    }
    ul {
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    hr {
        max-width: 600px;
        margin: 0.5em auto;
    }
}