$crumbs-back: #f3f5fa;
$text-color: #8093a7;
$hover-color: var(--secondary-background-color);
#crumbs {
    text-align: center;
    ul {
        list-style: none;
        display: inline-table;
        li {
            display: inline;
            div {
                .subtitle {
                    font-size: 0.7rem;
                    color: #8093a7;
                    display: block;
                    height: 10px;
                    margin: -5px;
                    padding-left: 2.5rem;
                    font-weight: 400;
                }
                display: block;
                float: left;
                height: 90px;
                font-weight: 600;
                background: #f3f5fa;
                text-align: center;
                padding: 30px 20px 0 60px;
                position: relative;
                margin: 0 0px 10px 0;
                font-size: 20px;
                text-decoration: none;
                color: $text-color;
                border-bottom: 5px solid $text-color;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                .number {
                    font-size: 1.3rem;
                    border: 3px solid $text-color;
                    color: $text-color;
                    border-radius: 50%;
                    padding: 0.2rem 0.4rem;
                    background-color: #fff;
                    margin-right: 0.1rem;
                }
                .icon {
                    font-size: 2.2rem !important;
                    font-weight: 600;
                    margin-right: 0.5rem;
                    color: $text-color;
                }
                &:after {
                    content: '';
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                    border-left: 40px solid #f3f5fa;
                    position: absolute;
                    right: -38px;
                    top: 0px;
                    z-index: 1;
                }
                &:before {
                    content: '';
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                    border-left: 40px solid #fff;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                /* MEDIA QUERIES  MEDIUM */
                @media screen and (max-width: 1124px) {
                    &::before {
                        border-left: none;
                    }
                    &::after {
                        border-left: none;
                        border-top: none;
                        border-bottom: none;
                    }
                    padding: 30px 20px 0 30px;
                }
            }
        }
    }
}

#crumbs ul li:first-child div {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#crumbs ul li:first-child div:before {
    display: none;
}

#crumbs ul li:last-child div {
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#crumbs ul li:last-child div:after {
    display: none;
}

#crumbs ul li div:hover {
    background: $hover-color;
    color: #fff;
    border-bottom: none;
    .icon,
    .subtitle {
        color: #fff;
    }
}

#crumbs ul li div:hover:after {
    border-left-color: $hover-color;
    color: #fff;
}

#crumbs ul li .done:after {
    border-left: 40px solid var(--primary-color);
}

#crumbs .active .number {
    font-size: 1.3rem;
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    background-color: #fff;
    margin-right: 0.1rem;
}

#crumbs .active div {
    &after {
        border-left: 40px solid var(--primary-color);
    }
}

#crumbs .active {
    border-bottom: 5px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    .icon {
        color: var(--primary-color);
    }
    .subtitle {
        color: var(--primary-color)
    }
}

#crumbs ul li .done div:after {
    border-left: 40px solid var(--primary-color);
}

#crumbs ul li .done div::before {
    border-left: 40px solid var(--primary-color);
}

#crumbs .done {
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-bottom: 5px solid var(--primary-color);
    .icon,
    .subtitle {
        color: #fff;
    }
    .number {
        font-size: 1.3rem;
        background-color: var(--secondary-color);
        border: 3px solid var(--primary-color);
        color: var(--primary-color);
        border-radius: 50%;
        padding: 0.2rem 0.4rem;
        background-color: #fff;
        margin-right: 0.1rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

#crumbs .icon {
    color: #fff;
}

#crumbs .number {
    font-size: 1.3rem;
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    background-color: #fff;
    margin-right: 0.1rem;
}