
.table_header
{
    height:50px;
    width : 80%;
    margin-left : 10%;
    display:flex;
    align-items:center;
    border-radius: 17px;
    justify-content: space-around;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 1rem;


}

