
.header
{
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    background-color: #EEEEEE;
    th{
        border : none;
        font-size: 1rem;
        font-weight: 700;
    }
}