@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600);
$blue: hsl(206, 72%, 68%);
$green: hsl(120, 42%, 54%);
$white: hsl(0, 0%, 100%);
$grey: hsl(226, 10%, 55%);
$disa: hsl(226, 15%, 83%);
#steps {
    width: fit-content;
    margin: 2rem 1rem;
}

.step {
    width: 40px;
    height: 40px;
    background-color: $white;
    display: inline-block;
    border: 4px solid;
    border-color: var(--primary-background-color);
    border-radius: 50%;
    color: $disa;
    font-weight: 600;
    text-align: center;
    line-height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.step:first-child {
    line-height: 40px;
}

.step:nth-child(n+2) {
    margin: 0 0 0 100px;
    transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -ms-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
}

.step:nth-child(n+2):before {
    width: 75px;
    height: 3px;
    display: block;
    background-color: var(--secondary-background-color);
    transform: translate(-95px, 21px);
    content: '';
    -webkit-transform: translate(-95px, 21px);
    -moz-transform: translate(-95px, 21px);
    -ms-transform: translate(-95px, 21px);
    -o-transform: translate(-95px, 21px);
}

.step:after {
    width: 150px;
    display: block;
    transform: translate(-55px, 3px);
    color: $grey;
    content: attr(data-desc);
    font-weight: 400;
    font-size: 13px;
    -webkit-transform: translate(-55px, 3px);
    -moz-transform: translate(-55px, 3px);
    -ms-transform: translate(-55px, 3px);
    -o-transform: translate(-55px, 3px);
}

.step:first-child:after {
    transform: translate(-55px, -1px);
}

.step.active {
    border-color: $blue;
    color: $blue;
}

.step.active:before {
    background: linear-gradient(to right, $green 0%, $blue 100%);
}

.step.active:after {
    color: $blue;
}

.step.done {
    background-color: $green;
    border-color: $green;
    color: $white;
}

.step.done:before {
    background-color: $green;
}


/* .icon {
    font-size: 2.9rem;
    padding: 0rem .85rem 1.1rem 0.1rem;
    text-align: center;
} */