.spinner {
  position: absolute;
  width: 82.7px;
  height: 82.7px;
  left: 50%;
  top: 50%;
}

.spinner > div {
  position: absolute;
  width: 3px;
  border-radius: 3px;
  height: 16px;
  background-color: #25363f;
  opacity: 0.05;
  -webkit-animation: fadeit 0.8s linear infinite;
  animation: fadeit 0.8s linear infinite;
}

.spinner > .bar-1 {
  transform: rotate(0deg) translate(0, -24px);
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

.spinner > .bar-3 {
  transform: rotate(45deg) translate(0, -24px);
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.spinner > .bar-5 {
  transform: rotate(90deg) translate(0, -24px);
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.spinner > .bar-7 {
  transform: rotate(135deg) translate(0, -24px);
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

.spinner > .bar-9 {
  transform: rotate(180deg) translate(0, -24px);
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

.spinner > .bar-11 {
  transform: rotate(225deg) translate(0, -24px);
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}

.spinner > .bar-13 {
  transform: rotate(270deg) translate(0, -24px);
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

.spinner > .bar-15 {
  transform: rotate(315deg) translate(0, -24px);
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

@-webkit-keyframes fadeit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 1920px) {
  .spinner {
    position: absolute;
    width: 4.307291666666667vw;
    height: 4.307291666666667vw;
    left: 50%;
    top: 50%;
  }
  .spinner > div {
    position: absolute;
    width: 0.15625vw;
    border-radius: 0.15625vw;
    height: 0.8333333333333334vw;
    background-color: #25363f;
    opacity: 0.05;
    -webkit-animation: fadeit 0.8s linear infinite;
    animation: fadeit 0.8s linear infinite;
  }
  .spinner > .bar-1 {
    transform: rotate(0deg) translate(0, -1.25vw);
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
  }
  .spinner > .bar-3 {
    transform: rotate(45deg) translate(0, -1.25vw);
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  .spinner > .bar-5 {
    transform: rotate(90deg) translate(0, -1.25vw);
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }
  .spinner > .bar-7 {
    transform: rotate(135deg) translate(0, -1.25vw);
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
  }
  .spinner > .bar-9 {
    transform: rotate(180deg) translate(0, -1.25vw);
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
  .spinner > .bar-11 {
    transform: rotate(225deg) translate(0, -1.25vw);
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s;
  }
  .spinner > .bar-13 {
    transform: rotate(270deg) translate(0, -1.25vw);
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
  }
  .spinner > .bar-15 {
    transform: rotate(315deg) translate(0, -1.25vw);
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
  }
}
