
.bar
{
    border-style : solid;
    width: 100%;
    border-radius: 25px;
    border-color: black;
    border-width: 0.8px;
    height:2.8rem;
}

.actual
{
    margin-top: 0.5rem;
    margin-left: 1rem;
    width:70%;
  
}