.signup {
    max-height: 110vh;
    background-color: #ffffff;
    opacity: 1;
    width: 100;
    height: 110vh;
    overflow: hidden;
    hr {
        border: 1px solid #e0e0e0;
    }
    .form__container {
        form {
            text-align: left !important;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 80vh;
            padding: 5.5rem !important;
            text-align: left;
            margin: auto 0 auto auto !important;
            input {
                margin: 0.5rem;
                &:focus {
                    border-bottom: 1px solid var(--primary-color) !important;
                    outline: none;
                }
            }
            button {
                margin: 1.5rem 0.1rem 0.8rem 0.1rem;
            }
        }
    }
    .img__container {
        height: 110vh;
        display: block;
        width: 20vw;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .select {
        margin: 0.5rem;
        background: var(--background--color) !important;
        color: var(--background--color) !important;
        width: 100%;
        &:focus {
            border-bottom: 1px solid var(--primary-color) !important;
            outline: none;
        }
    }
    .phone {
        margin: 0.5rem;
        height: 2.9rem !important;
        width: 100%;
    }
    /* MEDIA QUERIES  MEDIUM */
    @media screen and (max-width: 1024px) {
        max-height: 210vh;
        height: fit-content;
        .img__container {
            height: 130vh;
        }
        .container {
            width: var(--container-width-md);
        }
    }
    /* MEDIA QUERIES  Small */
    @media screen and (max-width: 700px) {
        max-height: 400vh;
        height: 170vh;
        .container {
            width: var(--container-width-ms);
        }
        .img__container {
            height: 170vh;
        }
        section>h2 {
            margin-bottom: 2rem;
        }
    }
}

.react-select-container {
    color: var(--primary-color);
    input {
        height: 36.5px !important;
    }
    .react-select__control {
        color: var(--primary-color);
        z-index: 9999999;
    }
    .react-select__menu {
        z-index: 9999999;
    }
    .react-select__menu-list {
        color: var(--primary-color);
        background: var(--background--color) !important;
        z-index: 9999999;
    }
    .react-select__option {
        color: var(--primary-color);
        background-color: transparent;
        z-index: 9999999;
        font-weight: 600;
    }
    &:focus {
        outline: none;
        border: none;
    }
    .react-select__option:hover {
        color: var(--primary-color);
    }
    .react-select__option:hover {
        background-color: var(--secondary-background-color);
        color: var(--primary-background-light-color);
    }
    &:active,
    &:focus {
        background-color: var(--secondary-background-color);
        color: var(--secondary-color);
    }
}

.flag__select__signup {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    height: 0px;
    padding-top: 0rem !important;
    cursor: pointer;
    width: 100%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    &:placeholder-shown {
        color: var(--primary-color);
    }
    button {
        margin-top: 0 !important;
    }
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        color: var(--primary-color);
    }
    li:hover {
        background-color: var(--secondary-background-color);
        color: var(--primary-background-light-color);
    }
    li:active,
    li:focus {
        background-color: var(--secondary-background-color);
        color: var(--secondary-color);
    }
}