.cover {
  margin-top: 1rem;
  width: 80%;
  background-color: #ededed;
  height: 0.3rem;
  border-radius: 20px;
}

.actual {
  width: calc((var(--rating)) / 100 * 100%);
  //DA0037

  background-color: var(--color);
  height: 0.3rem;
  border-radius: 20px;
}

.refund {
  border: none;
  font-size: 0.8rem;
  display: inline-block;
  color: #a00407;
}
