.ldsFacebook {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
    text-align: center;
}

.ldsFacebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--secondary-color);
    animation: ldsFacebook-animate 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    -webkit-animation: ldsFacebook-animate 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.ldsFacebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.ldsFacebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.ldsFacebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes ldsFacebook-animate {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}