.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination div {
    width: 33px;
    height: 33px;
    background: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bdbdbd;
    margin-right: 20px;
    cursor: pointer;
}

.pagination div.active {
    background-color: #0555fe;
    color: white;
}

.pagination div.pagination-arrow {
    font-size: 24px;
    color: #91b4f9;
}

.pagination div.pagination-arrow.inactive {
    opacity: 0.7;
    cursor: not-allowed;
}