.overview-design {
    margin-right: 167.6px;
    margin-left: 167.6px;
    color: #212529;
}
.list-design {
    li::before {
        content: "\2022";
        color: #212529;
        font-weight: bolder;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }
}