.addTodoBtn {
  width: 150px;
  padding: 10px;
  cursor: pointer;
  background-color: #367e18;
  color: #fff;
  border: none;
  outline: none;
  height: 43px;
}

.completed__wrapper,
.ongoing__wrapper,
.pending__wrapper {
  width: 32%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.ongoing__wrapper > h3,
.pending__wrapper > h3,
.completed__wrapper > h3 {
  text-align: center;
  text-transform: capitalize;
}

.pending__items {
  background-color: #eee3cb;
}

.ongoing__items {
  background-color: #d2daff;
}

.completed__items {
  background-color: #7fb77e;
}

.pending__container,
.ongoing__container,
.completed__container {
  width: 100%;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.pending__items,
.ongoing__items,
.completed__items {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
}
