@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.logo {
  width: 15rem;
  height: 6rem;
  cursor: pointer;
}

.navbar {
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right li {
  margin-left: 0.8rem;
  color: #161a1d;
}

ul li {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
}

.navbutton {
  background-color: white;
  border-width: 0.2rem;
  border-color: #660708;
  color: #660708;
  border-radius: 5%;
  padding: 0.8rem 1.3rem;
}

.navbutton:hover {
  background-color: #660708;
  color: white;
}
