.user {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.link:hover {
  color: #a4161a;
}
