.icon {
    cursor: pointer;
    color: var(--primary-color);
    margin: 0 0.6rem;
    font-size: 2rem;
    padding: 0;
    &:hover {
        color: var(--secondary-color);
        fill: var(--secondary-color);
    }
}

.rightTop {
    position: absolute;
    top: -16px;
    right: 0px;
    &:hover {
        background-color: var(--secondary-color) !important;
    }
}

.right {
    position: absolute;
    bottom: -11px;
    right: 5px;
    &:hover {
        background-color: var(--secondary-color) !important;
    }
}