
.message_holder
{
    height:35rem;
    overflow-y: scroll;
    
    overflow-x: hidden;
    padding: 0.5rem 1rem;

}

.send_message
{
    background-color: #EEEFF0;
    //height: 3rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

}

.message
{
    min-height: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem 0.7rem;
    resize: none;
    //overflow: hidden;
    border-radius: 12px;
    width: 100%;

}


.sender
{
    //justify-content: flex-end;
    width: fit-content;
    max-width: 70%;
    background-color: #a00407;
    color:white;
    border-radius: 1rem;
    font-size: 1.1rem;
    flex-wrap: nowrap;

}

.receiver
{
    //justify-content: flex-start;
    max-width: 70%;
    background-color: #EEEFF0;

    color:black;
    border-radius: 1rem;
    flex-wrap: nowrap;
    margin-left: 1rem;

}